<%= content_for :add_to_head do %>

  <%= stylesheet_link_tag 'program_entries.css' %>
  <%= javascript_include_tag 'program_entries.js' %>

<% end %>

<% if @layout %>
<div class="iox-content">
  <!--div class="iox-sidebar-arrow"></div-->

<% end %>
    <div class="iox-content-frame auto-overflow">

      <div class="iox-content-padding">

        <div class="control">
          <a href="#" data-role="submit" class="btn btn-primary"><%= @person.new_record? ? t('create') : t('save') %></a>
          <a href="#" data-role="switch2content" class="btn"><i class="icon-chevron-left"></i> <%= t('back') %></a>
          <a href="#" data-xhr-win="true" data-xhr-href="<%= settings_for_person_path(@person) %>" class="btn"><i class="icon-gear"></i></a>
        </div>

        <div id="person-tabs" class="tab-wrapper k-tab">

          <ul>
            <li class="k-state-active"><%= t('general') %></li>
            <li><%= t('ensemble.photos') %></li>
          </ul>

          <div class="tab-content clearfix">
            <h3 class="title">
              <% if @person.new_record? %>
                <%= t('person.title') %>
              <% else %>
                <%= @person.name %>
                <small><%= t('person.title') %></small>
              <% end %>
            </h3>

            <%= form_for @person, remote: !@layout, html: { class: 'iox-form iox-left-pane', :'data-role' => 'submitAndBack' } do |f| %>

              <div class="field-box">
                <%= f.label :firstname, t('firstname') %>
                <%= f.text_field :firstname %>
              </div>
              <div class="field-box">
                <%= f.label :lastname, t('lastname') %>
                <%= f.text_field :lastname %>
              </div>
              <div class="field-box">
                  <%= f.label :url, t('url') %>
                  <%= f.text_field :url %>
              </div>
              <div class="field-box">
                  <%= f.label :email, t('email') %>
                  <%= f.text_field :email %>
              </div>
              <div class="field-box">
                  <%= f.label :zip, t('zip_city') %>
                  <%= f.text_field :zip, style: 'width: 100px' %>
                  <%= f.text_field :city, style: 'width: 200px' %>
              </div>
              <div class="field-box">
                  <%= f.label :description, t('description') %>
                  <%= f.text_area :description, class: 'ckeditor' %>
              </div>
              <% if @person.program_entries.exists? %>
                <div class="field-box">
                  <label for="person_projects"><%= t('projects') %></label>
                  <div id="person_projects" class="cke_chrome">
                    <% @person.program_entries.each do |program_entry| %>
                      <div>
                        <%= program_entry.title %>
                        <% if current_user.is_admin? || program_entry.created_by == current_user.id %>
                          <a href="<%= edit_program_entry_path(program_entry) %>" target="_blank" title="<%= t('program_entry.view') %>">
                            <i class="icon-eye-open"></i>
                          </a>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <div class="field-box">
                <%= f.label :tags, t('program_entry.person.functions') %>              
                <%= f.select :tags,
                  options_from_collection_for_select(Iox::Tag.all.order(name: :asc), :id, :name, @person.tags.ids),
                  { include_blank: true },
                  { id: 'select-taggings-id', class: 'select-taggings-id', multiple: 'multiple' }
                %>
              </div>
            <% end %>
          </div>

          <div class="tab-content clearfix">

            <%= render partial: 'iox/common/images', locals: { pictures_path: person_pictures_path, item_id: @person.id, item_url: '/iox/people' } %>

          </div>

      </div>

    </div>

    <script type="text/javascript">
      $(function(){
        $("#person-tabs").kendoTabStrip();
        setupPersonAvatarUpload();
        setupDefaultCKEditor( $('.ckeditor:visible') );
      });

      $(document).ready(function(){
            $('#select-taggings-id').select2();
      });

    </script>

<% if @layout %>
  </div>
</div>
<% end %>