<%= content_for :add_css do %>
  <%= stylesheet_link_tag 'merge_clean' %>
<% end %>
<%= content_for :add_js do %>
  <%= javascript_include_tag "merge_clean" %>
<% end %>

<% if @insufficient_rights || @nothing_selected %>
  <script type="text/javascript">
    iox.flash.rails( <%= raw flash.to_json %> );
    $('.iox-content:last').remove();
    $('.iox-content:last').show();
  </script>
<% else %>

  <div class="iox-content-frame auto-overflow">
    <div class="iox-content-padding people-clean">
      <%= form_for('People', :as => 'people', :url => clean_selected_people_path) do |f| %>
        <div style="overflow: hidden;">
          <div class="info">
            <div> Anzahl Personen: <%= @people.size %></div>
            <span class="small">(ohne E-Mail und ohne Verbindung [:program_entry_people, :ensemble_people] im System)</span>
          </div>
          <div class="action">
            <%= f.submit 'ausgewählte Personen löschen', class: 'btn btn-danger btn-deleted-selected', disabled: true %>
            <span class="small">bereits bereinigte Personen: <%= @cleaned_people.size %></span>
          </div>
          <div class="description">
            <h4>Bereinigungs-Strategie:</h4>
            <p class="small">Einträge werden nur angezeigt wenn diese keine E-Mail besitzen,
            in keinem Ensemble verwendet werden und nicht als Mitglied in einem Spielplan Eintrag ausgewählt wurden.
            </p>
          </div>
        </div>
        <table>
          <tr>
            <th class="select-row"><input type="checkbox" name="checkAll" class="checkAll"></th>
            <th>ID</th>
            <th>Vorname</th>
            <th>Nachname</th>
          </tr>
          <% @people.each do |person| %>
            <tr>
              <td class="first-column"><%= check_box_tag 'ids[]', person.id, false, :class => 'table-row-checkbox' %></td>
              <td>
                <a href="<%= edit_person_path(person.id) %>" target="_blank" title="<%= t('program_entry.view') %>">
                  <%= person.id %>
                </a>
              </td>
              <td><%= person.firstname %></td>
              <td><%= person.lastname %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
<% end %>