<% if @insufficient_rights %>
  <script type="text/javascript">
    iox.flash.rails( <%= raw flash.to_json %> );
    $('.iox-content:last').remove();
    $('.iox-content:last').show();
  </script>
<% else %>
    <%= content_for :add_css do %>
        <%= stylesheet_link_tag 'program_entries' %>
    <% end %>
    <div class="iox-content iox-content-container" id="iox-pe-content">
        <div class="iox-content-frame">
            <div class="iox-content-padding">
                <div class="back-btn"><%= link_to( 'Zurück', syncers_path ) %></div>
                <div class="iox-user-header clearfix">
                    <div class="iox-form meta-container">
                        <div class="fields-header">Instagram Access Token</div>
                        <div class="field-box">
                            <label>Token</label>
                            <%= text_field_tag 'access_token', @access_token_escaped, disabled: true %>
                        </div>

                        <div class="field-box">
                            <label>Expires At</label>
                            <%= text_field_tag 'access_token_expires_at', @access_token_expires_at.strftime("%d.%m.%Y"), disabled: true %>
                        </div>

                        <div class="field-box">
                            <label>API Docs</label>
                            <%= link_to '<i class="icon-external-link icon"></i>'.html_safe, "https://developers.facebook.com/docs/instagram-platform/reference/refresh_access_token/" , target: :blank %>
                        </div>            
                    </div>

                    <div class="iox-form meta-container">
                        <div class="fields-header">Content Publishing Limit (50 within 24 hrs)</div>
                        <div class="field-box">
                            <label>Current Usage</label>
                            <%= text_field_tag 'content_publising_limit', @content_publishing_current_usage, disabled: true %>
                        </div>
                        <div class="field-box">
                            <label>API Docs</label>
                            <%= link_to '<i class="icon-external-link icon"></i>'.html_safe, "https://developers.facebook.com/docs/instagram-platform/instagram-graph-api/reference/ig-user/content_publishing_limit/" , target: :blank %>
                        </div>         
                    </div>
                </div>

                <table class="syncers">
                    <thead>
                    <tr>
                        <th>Program Entry</th>
                        <th>IG_CONTAINER_ID</th>
                        <th>IG_MEDIA_ID</th>
                        <th>Status</th>
                        <th>AKTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<% end %>